div[data-v-f6380f9e] {
  margin-bottom: 20px;
}
button[data-v-f6380f9e] {
  border: none;
  color: white;
  background: #3760ac;
  margin-right: 5px;
}
button[data-v-f6380f9e]:hover {
    background: #4070c9;
    cursor: pointer;
}
button[data-v-f6380f9e]:disabled {
    background: grey;
    cursor: no-drop;
}

.scoreBoard {
  width: 80%;
  min-width: 600px;
  background: #edf0f1;
  display: flex;
  border: 1px solid #4c697c;
  border-radius: 3px;
  flex-direction: row;
  flex-wrap: wrap;
}
.scoreBoard .turn {
    border-right: 1px solid #4c697c;
}
.turn {
  flex-basis: 100%;
  flex: 1;
}
.turn.active {
    background: #c6d3db;
}
.turnNumber {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #4c697c;
  font-weight: 600;
  padding: 5px 10px;
}
.scoreBox {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 25px 25px;
  text-align: center;
  font-weight: 800;
}
.scoreBox div {
    padding: 0 5px;
}
.scoreBox .secondScore {
    border-left: 1px solid #4c697c;
    border-bottom: 1px solid #4c697c;
}
.scoreBox .totalScore {
    grid-column: span 2;
}
.scoreBox.last {
  grid-template-columns: auto auto auto;
}
.scoreBox.last .thirdScore {
    border-left: 1px solid #4c697c;
    border-bottom: 1px solid #4c697c;
}
.scoreBox.last .totalScore {
    grid-column: span 3;
}

.backdrop[data-v-0eaeaf66] {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.modal_wrapper[data-v-0eaeaf66] {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: scroll;
}
.modal_wrapper .modal[data-v-0eaeaf66] {
    width: 30%;
    background: #fff;
    border-radius: 3px;
    margin: 15vh auto;
    position: relative;
    padding: 20px;
    text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  color: grey;
}

* {
  box-sizing: border-box;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 3rem;
}
#nav a {
  font-weight: bold;
  color: var(--color-green);
  margin-right: 1rem;
}
#nav a.router-link-exact-active {
    color: #42b983;
}
button {
  background: #e7e7e7;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  padding: 10px;
  font-weight: 600;
  margin: 10px 0;
}
button.success {
    background: #389e38;
    border-color: #46c246;
    color: white;
}
input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  width: 60%;
  margin: 10px 0;
}

